In [8]:
import pandas as pd
from pandas.util.testing import assert_frame_equal
import numpy as np
from sas7bdat import SAS7BDAT
import os
from collections import OrderedDict
import datetime

In [26]:
# -----------------------------------------------------
# function definitions
# -----------------------------------------------------

# load sas file and convert to a pandas dataframe
def load_sas(sasfile, encoding="utf8", encoding_errors="replace"):

    with SAS7BDAT(sasfile, encoding=encoding,encoding_errors=encoding_errors) as sas:
        sas = iter(sas)
        columns = [c for c in next(sas)]
        df = pd.DataFrame(sas, columns=columns)
        return df

In [27]:
path = r"\\nsdata3\Social_Surveys_team\CASPA\IPS\Testing\testdata.sas7bdat"
path_to_survey_data = r"\\nsdata3\Social_Surveys_team\CASPA\IPS\Testing\crossingfactor\surveydata.sas7bdat"

In [29]:
# -----------------------------------------------------
#load sas files into dataframes
# -----------------------------------------------------

df = load_sas(path)

[testdata.sas7bdat] column count mismatch
[testdata.sas7bdat] column count mismatch
[testdata.sas7bdat] column count mismatch
[testdata.sas7bdat] column count mismatch
[testdata.sas7bdat] column count mismatch
[testdata.sas7bdat] column count mismatch
[testdata.sas7bdat] column count mismatch

In [30]:
df.head()

,Shiftno,Questno,Serial,Version,Offvers,IntType,ShiftType,CarType16,Portroute,PortRoute2,...,DVPublicEU15,DVPublicEU25,DVPublicEU27,DVPublicToTEurope,DVPublicNorthAm,DVPublicOtherCountries,AccomType,Migroute,NewTandT,NewMig
0,2010.0,1.0,12010001.0,02a,F,1.0,1.0,None,119.0,119.0,...,1.0,None,None,NaN,NaN,1.0,NaN,NaN,NaN,None
1,2010.0,2.0,12010002.0,02a,F,1.0,1.0,None,119.0,119.0,...,1.0,None,None,NaN,NaN,1.0,NaN,NaN,NaN,None
2,2010.0,3.0,12010003.0,02a,F,1.0,1.0,None,119.0,119.0,...,1.0,None,None,NaN,NaN,1.0,NaN,NaN,NaN,None
3,2010.0,4.0,12010004.0,02a,F,1.0,1.0,None,119.0,119.0,...,1.0,None,None,NaN,NaN,1.0,NaN,NaN,NaN,None
4,2010.0,5.0,12010005.0,02a,F,1.0,1.0,None,119.0,119.0,...,1.0,None,None,NaN,NaN,1.0,NaN,NaN,NaN,None

In [4]:
dbase = Null
gparam_table_name = Null
parameter_set_id = Null
schema = Null

#global 
stopsas=0

#options 
validvarname = "any"

#options
compress = "no"
validvarname = "any"

return_code = 0
ons_sys = IPS
execmode = 1

schema= "ips_1_poweld2_data"
dbase= "DEVCON"
parameter_set_id= 17
gparam_table_name = "ora_data.sas_parameters"

# enter create_exprot_data_output() macro

level = 0
printlog = 0
#MAUTOSOURCE SASAUTOS=(SASAUTOS,"&ipspath","&utilspath");

# TODO: format this as required to exact SAS format (if required)
current = datetime.datetime.now()

max_text = 32767;
DBMAX_TEXT = 32767;

# connect to Oracle database
# unload_parameters
# check that all parameters have been passed in (if required)
# ips_error_check

export_tables_count = 10

SAS or CSV format to choose in ui
validate input


%create_export_data_sas();
%create_export_data_csv()

# converts to blob depending on SAS or csv file
%ips_sqload(userid=&userid,pword=&pword,
           dbname=&dbname,tablename=&export_table,filetostore=&datafile);

# connect to oracle
# unload parameters

# take in table input
# convert to SAS or CSV as required
# convert to blob format suitable for input into Oracle

# put back into Oracle

In [7]:
for i in range(1, Export_tables_count):
    print(i)

NameError: name 'Export_tables_count' is not defined

In [34]:
current = datetime.datetime.now().time()
current

datetime.time(14, 32, 39, 908000)